<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>리뷰 상세 정보</title>
  <link rel="stylesheet" th:href="@{/css/admin_detail.css}">
</head>
<body class="review-detail-page">
<div class="container">
  <button class="back-button" onclick="goBack()">&lt;</button>
  <h1>리뷰 상세 정보</h1>
  <div class="detail-box">
    <p><strong>닉네임:</strong> <span th:text="${review.user.nickname}"></span></p>
    <p><strong>영화 제목:</strong> <span th:text="${review.movie.title}"></span></p>
    <p><strong>별점:</strong> <span th:text="${review.rating}"></span></p>
    <p><strong>내용:</strong> <span th:text="${review.content}"></span></p>
    <p><strong>작성일:</strong> <span th:text="${#temporals.format(review.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></span></p>
    <p><strong>수정일:</strong> <span th:if="${review.updatedDate}" th:text="${#temporals.format(review.updatedDate, 'yyyy-MM-dd HH:mm:ss')}"></span><span th:unless="${review.updatedDate}">-</span></p>
    <p><strong>좋아요 수:</strong> <span th:text="${review.likeCount}"></span></p>
    <div class="button-container-review">
      <form th:action="@{/admin/reviews/delete/{id}(id=${review.id})}" method="post" onsubmit="return confirm('정말 삭제하시겠습니까?');">
        <button type="submit">삭제</button>
      </form>
      <a th:href="@{/admin/reviews}">리뷰 목록</a>
    </div>
  </div>
</div>

<script>
  function goBack() {
    window.history.back();
  }
</script>
</body>
</html>