.row {
    display: flex;
}

.row-center {
    align-items: center;
}

a {
    text-decoration: none !important;
}

.title {
    font-weight: bold;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.text {
    font-weight: bold;
}

.img {
    margin: 30px;
}

#main-area {
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

#nav-bar {
    height: 50px;
    background-color: #FFB800;
    align-content: center;
    padding-left: 30px;
    padding-right: 30px;
    caret-color: transparent;
}

.nav-menu > * {
    font-weight: bold;
    float: right;
    padding: 10px;
    text-align: center;
    color: black;
}

.nav-menu > img {
    padding: 0px;
}

.menu-link:hover {
    text-shadow: 1px 1px 2px grey;
    cursor: pointer;
}

.member-badge-icon {
    width: 50px;
    height: auto;
}

#main-content {
    height: calc(100vh - 50px);
    caret-color: transparent;
    padding: 50px;
}

.solid-bg {
    background-color: rgba(31, 27, 130, 1);
}

.soft-bg {
    background-color: rgba(31, 27, 130, 0.65);
}

.normal-button {
    font-weight: bold;
    width: 100px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    cursor: pointer;
}

.normal-button:hover {
    transform: scale(1.1);
}

.submit-button {
    font-weight: bold;
    background:none;
    border:none;
}

.submit-button:hover {
    text-shadow: 1px 1px 2px grey;
    cursor: pointer;
}

.white-text {
    color: white;
}